<section id="leaderboard">
    <h2>Leaderboard</h2>
    <table>
        <thead>
            <tr>
                <th class="left">Name</th>
                <th class="right">Score</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Loading leaderboard data...</td>
            </tr>
        </tbody>
    </table>
</section>

<script>
    async function fetchLeaderboard() {
        try {
            const response = await fetch(
                "https://pi-day-backend.fly.dev/scores",
            );
            const scores = await response.json();

            const leaderboard = scores.sort(
                (a: any, b: any) => b.score - a.score,
            );

            updateLeaderboardTable(leaderboard);
        } catch (error) {
            console.error("Error fetching leaderboard:", error);
        }
    }

    function updateLeaderboardTable(leaderboard: any) {
        const tableBody = document.querySelector("#leaderboard tbody");

        if (tableBody) {
            if (leaderboard.length === 0) {
                tableBody.innerHTML = `<tr><td colspan="2">Leaderboard is empty.</td></tr>`;
            } else {
                tableBody.innerHTML = leaderboard
                    .map(
                        (entry: any) =>
                            `<tr>
                                <td class="left">${entry.name}</td>
                                <td class="right">${entry.score}</td>
                            </tr>`,
                    )
                    .join("");
            }
        }
    }

    document.addEventListener("DOMContentLoaded", fetchLeaderboard);
</script>

<style>
    #leaderboard {
        font-family:
            Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial,
            sans-serif;
        text-align: center;
        margin: 20px auto;
        width: 50%;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th {
        color: white;
    }

    th.left {
        background: linear-gradient(83.21deg, #1a540d 0%, #a39422 100%);
    }

    th.right {
        background: linear-gradient(83.21deg, #a39422 0%, #1a540d 100%);
    }

    th,
    td {
        border: 2px solid #a39422;
        padding: 8px;
    }
</style>
